/*   _ _ _ _____ __ __ _____ _____ _____ 
    | | | |  _  |  |  | __  |  _  | __  |
    | | | |     |_   _| __ -|     |    -|
    |_____|__|__| |_| |_____|__|__|__|__|  STYLE
  
    by Bina 
*/


/* pywal colors */ 
@import '../../.cache/wal/colors-waybar.css';
@define-color ws @color4;
@define-color tt @color1;
@define-color clock @color3;
@define-color set @color4;
@define-color tb rgba(200,200,200,0.2);
@define-color tbh @color5;
@define-color text #FFFFFF;

/* general */
* {
    font-family: "JetBrains Mono";
    border: none;
    border-radius: 5px;
}

window#waybar {
    background-color: rgba(0,0,0,0.3);
    transition-property: background-color;
    transition-duration: .5s;
}

/* workspaces */
#workspaces {
    margin: 4px 1px 4px 1px;
    padding: 0px 0px;
    border-radius: 5px;
    border: 0px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: @text;
    opacity: 0.9;
}

#workspaces button {
    margin: 0px 2px;
    padding: 0px 5px;
    color: @text;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @text;
    background: @ws;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
}

#workspaces button:hover {
    color: @text;
    background: @ws;
    opacity: 0.9;
    border: none;
    box-shadow: none;
}

/* taskbar */
#taskbar {
    background: @tb;
    margin: 4px 15px 4px 1px;
    padding: 0px;
}

#taskbar button {
    margin: 0px 1px;
    border-radius: 5px;
    padding: 0px 5px;
}

#taskbar button:hover {
    background: @tbh;
    opacity: 1;
    border: none;
    box-shadow: none;
}

/* tooltip */
tooltip {
    border-radius: 5px;
    background-color: @tt;
    opacity: 0.8;
}

tooltip label {
    border-radius: 5px;
    background-color: @tt;
    opacity: 0.8;
    padding: 0px;
    margin: -5px 0px;
    font-size: 12px;
    color: @text;
}

/* modules */
.modules-left > widget:first-child > #workspaces {
    margin-left: 10;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* clock */
#clock {
    background-color: @clock;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 1px 10px 0px 10px;
    margin: 4px 1px;
    opacity: 0.9;
    border: none;   
}

/* hardware group */
#cpu,#temperature,#disk,#memory {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: @text;
}

/* audio */
#pulseaudio {
    background-color: @set;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 1px 10px 0px 10px;
    margin: 4px 1px 4px -15px;
    opacity: 0.9;
}

/* network */
#network {
    background-color: @set;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 1px 10px 0px 10px;
    margin: 4px 1px;
    opacity: 0.9;
}

#network.ethernet {
    background-color: @set;
    color: @text;
}

#network.wifi {
    background-color: @set;
    color: @text;
}

/* bluetooth */
#bluetooth, #bluetooth.on, #bluetooth.connected, #bluetooth.off {
    background-color: @set;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 1px 10px 0px 10px;
    margin: 4px 1px;
    opacity: 0.9;
}

/* battery */
#battery {
    background-color: @set;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 1px 10px 0px 10px;
    margin: 4px 1px;
    opacity: 0.9;
}

#battery.charging, #battery.plugged {
    color: @text;
    background-color: @set;
}

@keyframes blink {
    to {
        background-color: @set;
        color: @text;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* tray */
#tray {
    padding: 0px 15px 0px 0px;
    color: @text;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

/* custom modules */
#custom-exit {
    margin: 0px 18px 0px 5px;
    padding: 0px;
    font-size: 20px;
    color: @text;
}

#custom-system {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: @text;
}

#custom-settings {
    margin-right: 0px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: @text;
}

#custom-updates {
    background-color: @set;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
}

#custom-updates.green {
    background-color: @set;
}

#custom-updates.yellow {
    background-color: #ff9a3c;
    color: #FFFFFF;
}

#custom-updates.red {
    background-color: #dc2f2f;
    color: #FFFFFF;
}


